<h1 mat-dialog-title>Insert player names</h1>
<mat-dialog-content>
  <form [formGroup]="playerNamesForm" (ngSubmit)="onSubmit()">
    <div class="namesForm" formArrayName="names">
      <mat-form-field *ngFor="let name of names.controls; let i = index" appearance="fill">
        <mat-label></mat-label>
        <input matInput id="name-{{i}}" type="text" [formControlName]="i">
        <button *ngIf="names.controls.length >2" matSuffix mat-icon-button (click)="removeName(i)"><mat-icon>close</mat-icon></button>
        <mat-error>
          Please enter the name of a player
        </mat-error>
      </mat-form-field>
      <button mat-flat-button (click)="addName()" type="button">+Add Player</button>
    </div>
    <button mat-raised-button type="submit" [disabled]="!playerNamesForm.valid">Submeet</button>
  </form>
</mat-dialog-content>

<button mat-raised-button (click)="logPlayers()">LogPlayas</button>
<button mat-raised-button (click)="clear()">clear</button>
