.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height:20rem;
  width: 15rem;
  border: 2px;
  border-color: primary;
  margin: 0.5rem;

}

